@page "/Abchallengeforaflattummy"


<font face="Comic Sans MS" size="6" color="pink"> 30 DAY AB CHALLENGE FOR FLAT TUMMY </font>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

    body { background-image: url("https://image.freepik.com/free-photo/dumbbells-flat-lay-pink-yellow_1220-3951.jpg"); background-repeat: no-repeat; background-size: 85% 100%; background-position-x: right; font-family: 'Comic Sans MS',Verdana; }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 20%;
            padding: 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Responsive columns */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 16px;
            text-align: center;
            background-color: #f3f4f1;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column">
            <div class="card" style="background-color:#faa;">
                <h3>DAY 1 </h3>
                <p>10 CRUNCHES</p>
                <p>10 RUSSIAN TWIST</p>
                <p>10 LEFT LIFTS</p>
                <p>15 sec PLANK</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color:#fba;">
                <h3>DAY 2 </h3>
                <p>10 REVERSE CRUNCHES</p>
                <p>10 TOE TOUCHES</p>
                <p>10 FLUTTER KICKS</p>
                <p>15 sec PLANK</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color:#faa;">
                <h3>DAY 3 </h3>
                <p>10 CRUNCHES</p>
                <p>10 HEEL TAPS</p>
                <p>10 DIAMOND SIT UPS</p>
                <p>15 sec PLANK</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color:#fba;">
                <h3>DAY 4 </h3>
                <p>REST DAY</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color:#faa;">
                <h3>DAY 5</h3>
                <p>12 CRUNCHES</p>
                <p>12 RUSSIAN TWISTS</p>
                <p>12 LEG LIFTS</p>
                <p>30 sec PLANK</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color:#fba;">
                <h3>DAY 6</h3>
                <p>12 REVERSE CRUNCHES</p>
                <p>12 TOE TOUCHES</p>
                <p>12 FLUTTER KICKS</p>
                <p>30 sec PLANK</p>
            </div>
        </div>
   
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 7</h3>
            <p>12 CRUNCHES</p>
            <p>12 HEEL TAPS</p>
            <p>12 DIAMOND SIT UPS</p>
            <p>30 sec PLANK</p>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 8</h3>
            <p>REST DAY</p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 9</h3>
            <p>15 CRUNCHES</p>
            <p>15 RUSSIAN TWISTS</p>
            <p>15 LEG LIFTS</p>
            <p>45 sec PLANK</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 10</h3>
            <p>15 REVERSE CRUNCHES</p>
            <p>15 TOE TOUCHES</p>
            <p>15 FLUTTER KICKS</p>
            <p>45 sec PLANK</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 11</h3>
            <p>15 CRUNCHES</p>
            <p>15 HEEL TAPS</p>
            <p>15 DIAMOND SIT UPS</p>
            <p>45 sec PLANK</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 12</h3>
            <p>REST DAY</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 13</h3>
            <p>10 CRUNCHES x2</p>
            <p>10 RUSSIAN TWISTS x2</p>
            <p>10 LEG LIFTS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 14</h3>
            <p>10 REVERSE CRUNCHES x2</p>
            <p>10 TOE TAPS x2</p>
            <p>10 FLUTTER KICKS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 15</h3>
            <p>10 CRUNCHES x2</p>
            <p>10 HEEL TAPS x2</p>
            <p>10 DIAMOND SIT UPS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 16</h3>
            <p>REST DAY</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 17</h3>
            <p>12 CRUNCHES x2</p>
            <p>12 RUSSIAN TWISTS x2</p>
            <p>12 LEG LIFTS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 18</h3>
            <p>12 REVERSE CRUNCHES x2</p>
            <p>12 TOE TAPS x2</p>
            <p>12 FLUTTER KICKS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 19</h3>
            <p>12 CRUNCHES x2</p>
            <p>12 HEEL TAPS x2</p>
            <p>12 DIAMOND SIT UPS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 20</h3>
            <p>REST DAY</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 21</h3>
            <p>15 CRUNCHES x2</p>
            <p>15 RUSSIAN TWISTS x2</p>
            <p>15 LEG LIFTS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 22</h3>
            <p>15 REVERSE CRUNCHES x2</p>
            <p>15 TOE TAPS x2</p>
            <p>15 FLUTTER KICKS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 23</h3>
            <p>15 CRUNCHES x2</p>
            <p>15 HEEL TAPS x2</p>
            <p>15 DIAMOND SIT UPS x2</p>
            <p>60 sec PLANK x2</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 24</h3>
            <p>REST DAY</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 25</h3>
            <p>10 CRUNCHES x3</p>
            <p>10 RUSSIAN TWISTS x3</p>
            <p>10 LEG LIFTS x3</p>
            <p>60 sec PLANK x3</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 26</h3>
            <p>10 REVERSE CRUNCHES x3</p>
            <p>10 TOE TAPS x3</p>
            <p>10 FLUTTER KICKS x3</p>
            <p>60 sec PLANK x3</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 27</h3>
            <p>10 CRUNCHES x3</p>
            <p>10 HEEL TAPS x3</p>
            <p>10 DIAMOND SIT UPS x3</p>
            <p>60 sec PLANK x3</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 28</h3>
            <p>REST DAY</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#faa;">
            <h3>DAY 29</h3>
            <p>10 CRUNCHES x3</p>
            <p>10 RUSSIAN TWISTS x3</p>
            <p>10 LEG LIFTS x3</p>
            <p>10 REVERSE CRUNCHES x3</p>
            <p>60 sec PLANK x3</p>
        </div>
    </div>
    <div class="column">
        <div class="card" style="background-color:#fba;">
            <h3>DAY 30</h3>
            <p>10 TOE TAPS x3</p>
            <p>10 FLUTTER KICKS x3</p>
            <p>10 HEEL TAPS x3</p>
            <p>10 DIAMOND SIT UPS x3</p>
            <p>60 sec PLANK x3</p>
        </div>
    </div>
        </div>
</body>
</html>