@page "/StrongArmsChallenge"


<font face="Verdana" size="8" color="purple"> 30 Day Strong Arms Challenge </font>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Comic Sans MS',Verdana;
            background-image: url("https://image.freepik.com/free-photo/sports-attributes-green_23-2147778574.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-x: right;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 20%;
            padding: 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Responsive columns */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 25px;
            text-align: center;
            background-color: #f3f4f1;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column">
            <div class="card" style=" background-color: #5F9EA0;">
                <h3>DAY 1 </h3>
                <p>20 ARM CIRCLES</p>
                <p>5 TRICEPS DIPS</p>
                <p>5 PUSH UPS</p>
                <p>BONUS: 10 DUMBELL ROTATIONS</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 2 </h3>
                <p>20 ARM CIRCLES</p>
                <p>7 TIRCEPS DIPS</p>
                <p>6 PUSH UPS</p>
                <p>BONUS: 10 OVER HEAD PRESSES</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 3 </h3>
                <p>25 ARM CIRCLES</p>
                <p>10 TRICEPS DIPS</p>
                <p>7 PUSH UPS</p>
                <p>BONUS: 10 SIDE LATERAL RAISES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 4 </h3>
                <p>25 ARM CIRCLES</p>
                <p>10 TRICEPS DIPS</p>
                <p>8 PUSH UPS</p>
                <p>BONUS: 10 DUMBBELL CURLS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 5</h3>
                <p>30 ARM CIRCLES</p>
                <p>13 TRICEPS DIPS</p>
                <p>9 PUSH UPS</p>
                <p>BONUS: 10 BENT OVER ROWS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 6</h3>
                <p>30 ARM CIRCLES</p>
                <p>13 TRICEPS DIPS</p>
                <p>10 PUSH UPS</p>
                <p>BONUS: 10 TRICEPS EXTENSIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 7</h3>
                <p>REST DAY</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 8</h3>
                <p>35 ARM CIRCLES</p>
                <p>15 TRICEPS DIPS</p>
                <p>13 PUSH UPS</p>
                <p>BONUS: 15 OVER HEAD PRESSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 9</h3>
                <p>35 ARM CIRCLES</p>
                <p>15 TRICEPS DIPS</p>
                <p>13 PUSH UPS</p>
                <p>BONUS: 15 OVER HEAD PRESSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 10</h3>
                <p>40 ARM CIRCLES</p>
                <p>17 TRICEPS DIPS</p>
                <p>14 PUSH UPS</p>
                <p>BONUS: 15 SIDE LATERAL RAISES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 11</h3>
                <p>45 ARM CIRCLES</p>
                <p>17 TRICEPS DIPS</p>
                <p>15 PUSH UPS</p>
                <p>BONUS: 15 DUMBBELL CURLS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 12</h3>
                <p>50 ARM CIRCLES</p>
                <p>20 TRICEPS DIPS</p>
                <p>16 PUSH UPS</p>
                <p>BONUS: 15 BENT OVER ROWS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 13</h3>
                <p>50 ARM CIRCLES</p>
                <p>23 TRICEPS DIPS</p>
                <p>17 PUSH UPS</p>
                <p>BONUS: 15 TRICEPS EXTENSIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 14</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 15</h3>
                <p>55 ARM CIRCLES</p>
                <p>25 TRICEPS DIPS</p>
                <p>20 PUSH UPS</p>
                <p>BONUS: 20 DUMBBELL ROTATIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 16</h3>
                <p>60 ARM CIRCLES</p>
                <p>25 TRICEPS DIPS</p>
                <p>21 PUSH UPS</p>
                <p>BONUS: OVER HEAD PRESSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 17</h3>
                <p>60 ARM CIRCLES</p>
                <p>27 TRICEPS DIPS</p>
                <p>22 PUSH UPS</p>
                <p>BONUS: 20 SIDE LATERAL RAISES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 18</h3>
                <p>65 ARM CIRCLES</p>
                <p>30 TRICEPS DIPS</p>
                <p>23 PUSH UPS</p>
                <p>BONUS: 20 DUMBBELL CURLS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 19</h3>
                <p>70 ARM CIRCLES</p>
                <p>32 TRICEPS DIPS</p>
                <p>24 PUSH UPS</p>
                <p>BONUS: 20 BENT OVER ROWS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 20</h3>
                <p>70 ARM CIRCLES</p>
                <p>35 TRICEPS DIPS</p>
                <p>25 PUSH UPS</p>
                <p>BONUS: 20 TRICEPS EXTENSIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                ">
                <h3>DAY 21</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 22</h3>
                <p>75 ARM CIRCLES</p>
                <p>37 TRICEPS DIPS</p>
                <p>26 PUSH UPS</p>
                <p>BONUS: 25 DUMBBELL ROTATIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 23</h3>
                <p>80 ARM CIRCLES</p>
                <p>40 TRICEPS DIPS</p>
                <p>27 PUSH UPS</p>
                <p>BONUS: 25 OVER HEAD PRESSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 24</h3>
                <p>80 ARM CIRCLES</p>
                <p>42 TRICEPS DIPS</p>
                <p>28 PUSH UPS</p>
                <p>BONUS: 25 SIDE LATERAL RAISES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 25</h3>
                <p>85 ARM CIRCLES</p>
                <p>42 TRICEPS DIPS</p>
                <p>29 PUSH UPS</p>
                <p>BONUS: 25 DUMBBELL CURLS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 26</h3>
                <p>90 ARM CIRCLES</p>
                <p>45 TRICEPS DIPS</p>
                <p>30 PUSH UPS</p>
                <p>BONUS: 25 BENT OVER ROWS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 27</h3>
                <p>90 ARM CIRCLES</p>
                <p>45 TRICEPS DIPS</p>
                <p>31 PUSH UPS</p>
                <p>BONUS: 25 TRICEPS EXTENSIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 28</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #5F9EA0;">
                <h3>DAY 29</h3>
                <p>95 ARM CIRCLES</p>
                <p>47 TRICEPS DIPS</p>
                <p>33 PUSH UPS</p>
                <p>BONUS: 30 DUMBBELL ROTATIONS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="        background-color: #8FBC8F;">
                <h3>DAY 30</h3>
                <p>100 ARM CIRCLES</p>
                <p>50 TRICEPS DIPS</p>
                <p>35 PUSH UPS</p>
                <p>BONUS: 30 OVER HEAD PRESSES</p>
            </div>
        </div>
    </div>
</body>
</html>