@page "/TighSlimmingChallenge"


<font face="Verdana" size="8" color="purple"> 30 Day Tigh Slimming Challenge </font>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Comic Sans MS',Verdana;
            background-image: url("https://image.freepik.com/free-photo/top-view-measuring-tape-with-weight-apple_23-2148523285.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-x: right;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 20%;
            padding: 10px;
        }

        /* Remove extra left and right margins, due to padding */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Responsive columns */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 25px;
            text-align: center;
            background-color: #f3f4f1;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 1 </h3>
                <p>10 LEG SWINGS</p>
                <p>12 SIDE LUNGES</p>
                <p>10 PLIE SQUATS</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 2 </h3>
                <p>10 SIDE LEG LIFTS</p>
                <p>12 PLIE SQUATS</p>
                <p>10 INNER THIGH PULSES</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 3 </h3>
                <p>12 LEG SWINGS</p>
                <p>12 SIDE LEG LIFTS</p>
                <p>15 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 4 </h3>
                <p>15 SIDE LUNGES</p>
                <p>15 PLIE SQUATS</p>
                <p>12 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 5</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 6</h3>
                <p>15 SIDE LEG LIFTS</p>
                <p>15 PLIE SQUATS</p>
                <p>12 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 7</h3>
                <p>15 LEG SWINGS</p>
                <p>15 SIDE LUNGES</p>
                <p>20 PLIE SQUATS</p>
            </div>
        </div>

        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 8</h3>
                <p>20 SIDE LUNGES</p>
                <p>20 PLIE SQUATS</p>
                <p>15 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 9</h3>
                <p>15 LEG SWINGS</p>
                <p>20 SIDE LEG LIFTS</p>
                <p>20 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 10</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 11</h3>
                <p>20 LEG SWINGS</p>
                <p>25 SIDE LUNGES</p>
                <p>25 PLIE SQUATS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 12</h3>
                <p>20 SIDE LUNGES</p>
                <p>25 PLIE SQUATS</p>
                <p>20 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 13</h3>
                <p>25 LEG SWINGS</p>
                <p>20 SIDE LEG LIFTS</p>
                <p>25 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 14</h3>
                <p>25 SIDE LEG LIFTS</p>
                <p>30 PLIE SQUATS</p>
                <p>20 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 15</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 16</h3>
                <p>25 SIDE LEG LIFTS</p>
                <p>30 PLIE SQUATS</p>
                <p>25 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 17</h3>
                <p>25 LEG SWINGS</p>
                <p>30 SIDE LUNGES</p>
                <p>35 PLIE SQUATS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 18</h3>
                <p>30 SIDE LUNGES</p>
                <p>35 PLIE SQUATS</p>
                <p>25 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 19</h3>
                <p>30 LEG SWINGS</p>
                <p>30 SIDE LEG LIFTS</p>
                <p>35 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 20</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 21</h3>
                <p>30 LEG SWINGS</p>
                <p>35 SIDE LUNGES</p>
                <p>40 PLIE SQUATS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 22</h3>
                <p>40 SIDE LUNGES</p>
                <p>40 PLIE SQUATS</p>
                <p>30 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 23</h3>
                <p>35 LEG SWINGS</p>
                <p>35 SIDE LEG LIFTS</p>
                <p>40 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 24</h3>
                <p>35 SIDE LEG LIFTS</p>
                <p>45 PLIE SQUATS</p>
                <p>35 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 25</h3>
                <p>REST DAY</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 26</h3>
                <p>40 SIDE LEG LIFTS</p>
                <p>50 PLIE SQUATS</p>
                <p>35 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 27</h3>
                <p>35 LEG SWINGS</p>
                <p>40 SIDE LUNGES</p>
                <p>50 PLIE SQUATS</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 28</h3>
                <p>45 SIDE LUNGES</p>
                <p>55 PLIE SQUATS</p>
                <p>40 INNER THIGH PULSES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #DDA0DD;">
                <h3>DAY 29</h3>
                <p>40 LEG SWINGS</p>
                <p>45 SIDE LEG LIFTS</p>
                <p>45 SIDE LUNGES</p>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: #D8BFD8;">
                <h3>DAY 30</h3>
                <p>50 SIDE LUNGES</p>
                <p>55 PLIE SQUATS</p>
                <p>45 INNER THIGH PULSES</p>
            </div>
        </div>
    </div>
</body>
</html>