<div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default d-none d-xl-block">
    <div class="sidebar-inner">

        <div class="ace-scroll flex-grow-1" ace-scroll>

            <div class="sidebar-section my-2">
                <div class="sidebar-section-item fadeable-left">

                    <div class="fadeinable sidebar-shortcuts-mini">
                        <span class="btn btn-success p-0"></span>
                        <span class="btn btn-info p-0"></span>
                        <span class="btn btn-warning p-0"></span>
                        <span class="btn btn-danger p-0"></span>
                    </div>

                    <div class="fadeable">
                        <div class="sub-arrow"></div>
                        <div>
                            <button class="btn btn-smd btn-success">
                                <i class="fa fa-signal"></i>
                            </button>

                            <button class="btn btn-smd btn-info">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-smd btn-warning">
                                <i class="fa fa-users"></i>
                            </button>

                            <button class="btn btn-smd btn-danger">
                                <i class="fa fa-cogs"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <ul class="nav has-active-border" role="navigation" aria-label="Main">


                <li class="nav-item-caption">
                    <span class="fadeable pl-3">MAIN</span>
                    <span class="fadeinable mt-n2 text-125">&hellip;</span>
                    <!--
                          OR something like the following (with .hideable text)
                      -->
                    <!--
                          <div class="hideable">
                              <span class="pl-3">MAIN</span>
                          </div>
                          <span class="fadeinable mt-n2 text-125">&hellip;</span>
                      -->
                </li>


                <li class="nav-item active">

                    <a href="html/dashboard.html" class="nav-link">
                        <i class="nav-icon fa fa-tachometer-alt"></i>
                        <span class="nav-text fadeable">
                            <span>Dashboard</span>
                        </span>


                    </a>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="#" class="nav-link dropdown-toggle">
                        <i class="nav-icon fa fa-cube"></i>
                        <span class="nav-text fadeable">
                            <span>Layouts</span>
                        </span>

                        <b class="caret fa fa-angle-left rt-n90"></b>

                        <!-- or you can use custom icons -->
                        <!--
                           <b class="caret caret-shown fa fa-minus text-80"></b>
                           <b class="caret caret-hidden fa fa-plus text-80"></b>
                        -->
                    </a>

                    <div class="hideable submenu collapse">
                        <ul class="submenu-inner">

                            <li class="nav-item">

                                <a href="html/dashboard-2.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Dashboard 2</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/dashboard-3.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Dashboard 3</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/horizontal-menu.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Horizontal Menu</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/two-menus-1.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Two Menus 1</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/two-menus-2.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Two Menus 2</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/landing-page-1.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Landing Page 1</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/landing-page-2.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Landing Page 2</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/coming-soon.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Coming Soon</span>
                                    </span>


                                </a>






                            </li>

                        </ul>
                    </div>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="#" class="nav-link dropdown-toggle">
                        <i class="nav-icon fa fa-desktop"></i>
                        <span class="nav-text fadeable">
                            <span>UI Elements</span>
                        </span>

                        <b class="caret fa fa-angle-left rt-n90"></b>

                        <!-- or you can use custom icons -->
                        <!--
                           <b class="caret caret-shown fa fa-minus text-80"></b>
                           <b class="caret caret-hidden fa fa-plus text-80"></b>
                        -->
                    </a>

                    <div class="hideable submenu collapse">
                        <ul class="submenu-inner">

                            <li class="nav-item">

                                <a href="html/elements.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Elements</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/buttons.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Buttons</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/typography.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Typography</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/icons.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Icons</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/charts.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Charts</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/treeview.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Treeview</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="#" class="nav-link dropdown-toggle">

                                    <span class="nav-text">
                                        <span>Nested Links</span>
                                    </span>

                                    <b class="caret fa fa-angle-left rt-n90"></b>

                                    <!-- or you can use custom icons -->
                                    <!--
                                          <b class="caret caret-shown fa fa-minus text-80"></b>
                                          <b class="caret caret-hidden fa fa-plus text-80"></b>
                                       -->
                                </a>

                                <div class=" submenu collapse">
                                    <ul class="submenu-inner">

                                        <li class="nav-item">

                                            <a href="#" class="nav-link dropdown-toggle">
                                                <i class="nav-icon fa fa-caret-right"></i>
                                                <span class="nav-text">
                                                    <span>Third Level Menu</span>
                                                </span>

                                                <b class="caret fa fa-angle-left rt-n90"></b>

                                                <!-- or you can use custom icons -->
                                                <!--
                                                            <b class="caret caret-shown fa fa-minus text-80"></b>
                                                            <b class="caret caret-hidden fa fa-plus text-80"></b>
                                                         -->
                                            </a>

                                            <div class=" submenu collapse">
                                                <ul class="submenu-inner">

                                                    <li class="nav-item">

                                                        <a href="#" class="nav-link dropdown-toggle">
                                                            <i class="nav-icon fa fa-leaf text-success-m1 text-90 mr-2"></i>
                                                            <span class="nav-text">
                                                                <span>Fourth Level</span>
                                                            </span>

                                                            <b class="caret fa fa-angle-left rt-n90"></b>

                                                            <!-- or you can use custom icons -->
                                                            <!--
                                                                              <b class="caret caret-shown fa fa-minus text-80"></b>
                                                                              <b class="caret caret-hidden fa fa-plus text-80"></b>
                                                                           -->
                                                        </a>

                                                        <div class=" submenu collapse">
                                                            <ul class="submenu-inner">

                                                                <li class="nav-item">

                                                                    <a href="#" class="nav-link">
                                                                        <i class="nav-icon fa fa-stop text-warning-m1 text-90 mr-2 ml-1"></i>
                                                                        <span class="nav-text">
                                                                            <span>5th Level</span>
                                                                        </span>


                                                                    </a>






                                                                </li>


                                                                <li class="nav-item">

                                                                    <a href="#" class="nav-link">
                                                                        <i class="nav-icon fa fa-stop text-warning-m1 text-90 mr-2 ml-1"></i>
                                                                        <span class="nav-text">
                                                                            <span>5th Level</span>
                                                                        </span>


                                                                    </a>






                                                                </li>

                                                            </ul>
                                                        </div>

                                                        <b class="sub-arrow"></b>





                                                    </li>

                                                </ul>
                                            </div>

                                            <b class="sub-arrow"></b>





                                        </li>

                                    </ul>
                                </div>

                                <b class="sub-arrow"></b>





                            </li>

                        </ul>
                    </div>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="#" class="nav-link dropdown-toggle">
                        <i class="nav-icon fa fa-table"></i>
                        <span class="nav-text fadeable">
                            <span>Tables &amp; Grids</span>
                        </span>

                        <b class="caret fa fa-angle-left rt-n90"></b>

                        <!-- or you can use custom icons -->
                        <!--
                           <b class="caret caret-shown fa fa-minus text-80"></b>
                           <b class="caret caret-hidden fa fa-plus text-80"></b>
                        -->
                    </a>

                    <div class="hideable submenu collapse">
                        <ul class="submenu-inner">

                            <li class="nav-item">

                                <a href="html/tables-basic.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Basic Tables</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="#" class="nav-link dropdown-toggle">

                                    <span class="nav-text">
                                        <span>Dynamic Tables</span>
                                    </span>

                                    <b class="caret fa fa-angle-left rt-n90"></b>

                                    <!-- or you can use custom icons -->
                                    <!--
                                          <b class="caret caret-shown fa fa-minus text-80"></b>
                                          <b class="caret caret-hidden fa fa-plus text-80"></b>
                                       -->
                                </a>

                                <div class=" submenu collapse">
                                    <ul class="submenu-inner">

                                        <li class="nav-item">

                                            <a href="html/table-datatables.html" class="nav-link">

                                                <span class="nav-text">
                                                    <span>DataTables</span>
                                                </span>


                                            </a>






                                        </li>


                                        <li class="nav-item">

                                            <a href="html/table-bootstrap.html" class="nav-link">

                                                <span class="nav-text">
                                                    <span>Bootstrap Table</span>
                                                </span>


                                            </a>






                                        </li>


                                        <li class="nav-item">

                                            <a href="html/table-jqgrid.html" class="nav-link">

                                                <span class="nav-text">
                                                    <span>jqGrid</span>
                                                </span>


                                            </a>






                                        </li>

                                    </ul>
                                </div>

                                <b class="sub-arrow"></b>





                            </li>

                        </ul>
                    </div>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="#" class="nav-link dropdown-toggle">
                        <i class="nav-icon fa fa-edit"></i>
                        <span class="nav-text fadeable">
                            <span>Forms &amp; Elements</span>
                        </span>

                        <b class="caret fa fa-angle-left rt-n90"></b>

                        <!-- or you can use custom icons -->
                        <!--
                           <b class="caret caret-shown fa fa-minus text-80"></b>
                           <b class="caret caret-hidden fa fa-plus text-80"></b>
                        -->
                    </a>

                    <div class="hideable submenu collapse">
                        <ul class="submenu-inner">

                            <li class="nav-item">

                                <a href="html/form-elements.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Form Elements</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/form-elements-2.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>More Form Elements</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/form-wizard.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Wizard &amp; Validation</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/form-fileupload.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>File Upload</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/form-editor.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Wysiwyg &amp; Editor</span>
                                    </span>


                                </a>






                            </li>

                        </ul>
                    </div>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="html/widgets.html" class="nav-link">
                        <i class="nav-icon fa fa-list"></i>
                        <span class="nav-text fadeable">
                            <span>Cards &amp; Widgets</span>
                        </span>


                    </a>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="html/calendar.html" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <span class="nav-text fadeable">
                            <span>Calendar</span>
                            <span class="badge px-1 " title="2 Urgent Events"><i class='fas fa-exclamation-triangle text-140 text-danger-m2'></i></span>
                        </span>


                    </a>

                    <b class="sub-arrow"></b>





                </li>


                <li class="nav-item">

                    <a href="html/gallery.html" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <span class="nav-text fadeable">
                            <span>Gallery</span>
                        </span>


                    </a>

                    <b class="sub-arrow"></b>





                </li>



                <li class="nav-item-caption">
                    <span class="fadeable pl-3">OTHER</span>
                    <span class="fadeinable mt-n2 text-125">&hellip;</span>
                    <!--
                          OR something like the following (with .hideable text)
                      -->
                    <!--
                          <div class="hideable">
                              <span class="pl-3">OTHER</span>
                          </div>
                          <span class="fadeinable mt-n2 text-125">&hellip;</span>
                      -->
                </li>


                <li class="nav-item">

                    <a href="#" class="nav-link dropdown-toggle">
                        <i class="nav-icon fa fa-tag"></i>
                        <span class="nav-text fadeable">
                            <span>More Pages</span>
                            <span class="badge badge-primary radius-round text-90 ml-1 mr-2px badge-sm ">5</span>
                        </span>

                        <b class="caret fa fa-angle-left rt-n90"></b>

                        <!-- or you can use custom icons -->
                        <!--
                           <b class="caret caret-shown fa fa-minus text-80"></b>
                           <b class="caret caret-hidden fa fa-plus text-80"></b>
                        -->
                    </a>

                    <div class="hideable submenu collapse">
                        <ul class="submenu-inner">

                            <li class="nav-item">

                                <a href="html/page-profile.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Profile</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/page-login.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Login</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/page-pricing.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Pricing</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/page-invoice.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Invoice</span>
                                    </span>


                                </a>






                            </li>


                            <li class="nav-item">

                                <a href="html/page-error.html" class="nav-link">

                                    <span class="nav-text">
                                        <span>Error</span>
                                    </span>


                                </a>






                            </li>

                        </ul>
                    </div>

                    <b class="sub-arrow"></b>





                </li>

            </ul>

        </div><!-- /.sidebar scroll -->


        <div class="sidebar-section">
            <div class="sidebar-section-item fadeable-bottom">
                <div class="fadeinable">
                    <div class="pos-rel">
                        <img src="assets/image/avatar/avatar4.jpg" width="42" class="radius-round float-left mx-2 border-2 px-1px brc-secondary-m2" />
                        <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1"></span>
                    </div>
                </div>

                <div class="fadeable hideable w-100 bg-transparent shadow-none border-0">
                    <div id="sidebar-footer-bg" class="bgc-white d-flex align-items-center shadow-sm mx-2 mt-2px py-2 radius-t-1 border-1 border-t-2 border-b-0 brc-primary-m3">
                        <div class="d-flex mr-auto py-1">
                            <div class="pos-rel">
                                <img src="assets/image/avatar/avatar4.jpg" width="42" class="radius-round float-left mx-2 border-2 px-1px brc-default-m2" />
                                <span class="bgc-success-tp2 radius-round border-2 brc-white p-1 position-tr mr-1 mt-1"></span>
                            </div>

                            <div>
                                <span class="text-blue font-bolder">Alexa</span>
                                <div class="text-80 text-grey">
                                    Admin
                                </div>
                            </div>
                        </div>

                        <a href="#" class="btn btn-outline-blue border-0 p-2 mr-2px ml-4" title="Settings" data-toggle="modal" data-target="#id-ace-settings-modal">
                            <i class="fa fa-cog text-150"></i>
                        </a>

                        <a href="html/page-login.html" class="btn btn-outline-warning border-0 p-2 mr-1" title="Logout">
                            <i class="fa fa-sign-out-alt text-150"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!-- /#sidebar -->