<nav class="navbar navbar-expand-lg navbar-fixed navbar-default">
    <div class="navbar-inner">

        <div class="navbar-intro justify-content-xl-between">

            <button type="button" class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                <span class="bars"></span>
            </button><!-- mobile sidebar toggler button -->

            <a class="navbar-brand text-white" href="#">
                <i class="fa fa-leaf"></i>
                <span>Ace</span>
                <span>App</span>
            </a><!-- /.navbar-brand -->

            <button type="button" class="btn btn-burger mr-2 d-none d-xl-flex" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
                <span class="bars"></span>
            </button><!-- sidebar toggler button -->

        </div><!-- /.navbar-intro -->


        <div class="navbar-content">

            <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
                <i class="fa fa-search text-white text-90 py-1"></i>
            </button>

            <div class="navbar-content-section collapse navbar-collapse navbar-backdrop" id="navbarSearch">
                <div class="d-flex align-items-center ml-lg-3">
                    <i class="fa fa-search text-white mr-n1 d-none d-lg-block"></i>
                    <input type="text" class="navbar-search-input px-1 pl-lg-4 ml-lg-n3 w-100 autofocus" placeholder=" SEARCH ..." aria-label="Search" />
                </div>
            </div>

        </div><!-- .navbar-content -->
        <!-- mobile #navbarMenu toggler button -->
        <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
            <span class="pos-rel">
                <img class="border-2 brc-white-tp1 radius-round" width="36" src="assets/image/user.jpg" alt="Jason's Photo">
                <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr mr-1px mt-1px"></span>
            </span>
        </button>


        <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">

            <div class="navbar-nav">
                <ul class="nav">

                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-list-alt mr-2 d-lg-none"></i>
                            Mega
                            <i class="caret fa fa-angle-down d-none d-lg-block"></i>
                            <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                        </a>
                        <div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-t-0 border-x-1 border-b-2 ace-scrollbar">
                            <div class="row mx-0">

                                <div class="col-lg-4 col-12 p-2 p-lg-3 p-xl-4 d-flex align-items-center">
                                    <div class="list-group mt-3 mx-auto px-0">
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <i class="fab fa-facebook text-blue-m1 text-110 mr-2"></i>
                                            Cras justo odio
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action text-primary">
                                            <i class="fa fa-user text-success-m2 text-110 mr-2"></i>
                                            Dapibus ac facilisis in
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">
                                            <i class="fa fa-clock text-purple-m2 text-110 mr-2"></i>
                                            Morbi leo risus
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action bgc-success-l1 bgc-h-success-l2">
                                            <i class="fa fa-check text-orange text-110 mr-2"></i>
                                            Porta ac consectetur
                                            <span class="ml-2 badge badge-primary badge-pill badge-lg">14</span>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                                    </div>
                                </div><!-- .col:mega links -->

                                <div class="bgc-white col-lg-4 col-12 p-4">
                                    <h5 class="text-blue-m1">
                                        <i class="fas fa-bullhorn mr-1 text-grey-m2"></i>
                                        Notifications
                                    </h5>

                                    <div>
                                        <div class="media mt-2 px-3 pt-1 border-l-2 brc-purple-m2">
                                            <span class="d-block bgc-purple-tp2 radius-1 mr-3 p-3"><i class="fa fa-user text-white text-150"></i></span>
                                            <div class="media-body pb-0 mb-0  text-90 text-muted">
                                                <div class="text-grey-d2 font-bolder"></div>
                                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus...
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="media mt-2 px-3 pt-1 border-l-2 brc-warning-m2">
                                            <span class="d-block bgc-warning-tp2 radius-1 mr-3 p-3"><i class="fa fa-user text-white text-150"></i></span>
                                            <div class="media-body pb-0 mb-0 text-90 text-muted">
                                                <div class="text-grey-d2 font-bolder"></div>
                                                Fusce dapibus, tellus ac cursus commodo, tortor mauris...
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="media mt-2 px-3 pt-1 border-l-2 brc-success-m2">
                                            <span class="d-block bgc-success-tp2 radius-1 mr-3 p-3"><i class="fa fa-user text-white text-150"></i></span>
                                            <div class="media-body pb-0 mb-0 text-90 text-muted">
                                                <div class="text-grey-d2 font-bolder"></div>
                                                Tortor mauris condimentum nibh, fusce dapibus...
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- .col:mega notifications -->


                                <div class="col-lg-4 col-12 p-4 dropdown-clickable">
                                    <h5 class="text-blue-m1">
                                        <i class="fa fa-envelope mr-1 text-grey-m2"></i>
                                        Contact Us
                                    </h5>

                                    <form class="my-3">
                                        <div class="form-group mb-2">
                                            <input placeholder="Name" type="text" class="form-control border-l-2" />
                                        </div>

                                        <div class="form-group mb-2">
                                            <input placeholder="Email" type="text" class="form-control border-l-2" />
                                        </div>

                                        <div class="form-group mb-4">
                                            <textarea class="form-control brc-primary-m2 border-l-2 text-grey-d1" rows="3" placeholder="Your message..."></textarea>
                                        </div>

                                        <div class="text-center">
                                            <button type="reset" class="btn btn-smd btn-wide btn-secondary text-110">Reset</button>
                                            <button type="button" class="btn btn-smd btn-wide btn-primary text-110">Send</button>
                                        </div>
                                    </form>
                                </div><!-- .col:mega contact -->

                            </div><!-- .row: mega -->


                            <div class="row mx-0 order-first order-lg-last bgc-primary-l4 border-t-1 brc-default-m4">
                                <div class="col-lg-8 offset-lg-2 d-flex justify-content-center py-4 d-flex">

                                    <button class="mx-2px btn btn-sm btn-app btn-outline-warning btn-h-outline-warning btn-a-outline-warning radius-1 border-2">
                                        <i class="fa fa-cog text-190 d-block mb-2 h-4"></i>
                                        <span class="text-muted">Settings</span>
                                    </button>

                                    <button class="mx-2px btn btn-sm btn-app btn-outline-info btn-h-outline-info radius-1 border-2">
                                        <i class="fa fa-edit text-190 d-block mb-2 h-4"></i>
                                        Edit
                                        <span class="position-tr text-danger-m2 text-130 mr-1">*</span>
                                    </button>

                                    <button class="mx-2px btn btn-sm btn-app btn-dark radius-1">
                                        <i class="fa fa-lock text-150 d-block mb-2 h-4"></i>
                                        Lock
                                    </button>

                                </div>
                            </div><!-- .row:megamenu big buttons -->
                        </div>
                    </li>



                    <li class="nav-item dd-backdrop dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-flask text-110 icon-animated-vertical mr-lg-1"></i>

                            <span class="d-inline-block d-lg-none ml-2">Tasks</span><!-- show only on mobile -->
                            <span id="id-navbar-badge2" class="badge badge-sm text-90 text-success-l4">+2</span>

                            <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                            <div class="dropdown-caret brc-warning-l2"></div>
                        </a>
                        <div class="shadow dropdown-menu dropdown-animated animated-1 dropdown-xs p-0 bg-white brc-warning-l1 border-x-1 border-b-1">
                            <div class="bgc-warning-l2 py-25 px-4 border-b-1 brc-warning-l2">
                                <span class="text-dark-tp4 text-600 text-90 text-uppercase">
                                    <i class="fa fa-check mr-2px text-warning-d2 text-120"></i>
                                    4 Tasks to complete
                                </span>
                            </div>


                            <div class="px-4 py-2">
                                <div class="text-95">
                                    <span class="text-grey-d1">Software update</span>
                                </div>
                                <div class="progress mt-2">
                                    <div class="progress-bar bgc-info" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                </div>
                            </div>

                            <hr class="my-1 mx-4" />
                            <div class="px-4 py-2">
                                <div class="text-95">
                                    <span class="text-grey-d1">Hardware upgrade</span>
                                </div>
                                <div class="progress mt-2">
                                    <div class="progress-bar bgc-warning" role="progressbar" style="width: 40%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">40%</div>
                                </div>
                            </div>

                            <hr class="my-1 mx-4" />
                            <div class="px-4 py-2">
                                <div class="text-95">
                                    <span class="text-grey-d1">Customer support</span>
                                </div>
                                <div class="progress mt-2">
                                    <div class="progress-bar bgc-danger" role="progressbar" style="width: 30%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </div>

                            <hr class="my-1 mx-4" />
                            <div class="px-4 py-2">
                                <div class="text-95">
                                    <span class="text-grey-d1">Fixing bugs</span>
                                </div>
                                <div class="progress mt-2">
                                    <div class="progress-bar bgc-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                            </div>




                            <hr class="my-1px mx-2 brc-info-l2 " />
                            <a href="#" class="d-block bgc-h-primary-l4 py-3 border-0 text-center text-blue-m2">
                                <span class="text-85 text-600 text-uppercase">See All Tasks</span>
                                <i class="ml-2 fa fa-arrow-right text-muted"></i>
                            </a>
                        </div>
                    </li>


                    <li class="nav-item dropdown order-first order-lg-last">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" src="assets/image/user.jpg" alt="Jason's Photo">
                            <span class="d-inline-block d-lg-none d-xl-inline-block">
                                <span class="text-90" id="id-user-welcome">Welcome,</span>
                                <span class="nav-user-name">Jason</span>
                            </span>

                            <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                            <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                        </a>

                        <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                            <div class="d-none d-lg-block d-xl-none">
                                <div class="dropdown-header">
                                    Welcome, Jason
                                </div>
                                <div class="dropdown-divider"></div>
                            </div>

                            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-primary btn-a-lighter-primary" href="html/page-profile.html">
                                <i class="fa fa-user text-primary-m1 text-105 mr-1"></i>
                                Profile
                            </a>

                            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                                <i class="fa fa-cog text-success-m1 text-105 mr-1"></i>
                                Settings
                            </a>

                            <div class="dropdown-divider brc-primary-l2"></div>

                            <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary" href="html/page-login.html">
                                <i class="fa fa-power-off text-warning-d1 text-105 mr-1"></i>
                                Logout
                            </a>
                        </div>
                    </li><!-- /.nav-item:last -->

                </ul><!-- /.navbar-nav menu -->
            </div><!-- /.navbar-nav -->

        </div><!-- /.navbar-menu.navbar-collapse -->

    </div><!-- /.navbar-inner -->
</nav>